*{
  box-sizing: border-box;
}

body {
  margin: 100px;
}

.field {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #c3b471;
}

.excel {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.snakeBody {
  background: url('../img/texture.jpg');
  background-size: cover;
  border-radius: 20%;
}

.head {
  background: url('../img/snake2.jpg');
  background-size: cover;
  border-radius: 10%;
}

.mouse {
  background: url('../img/banana.png');
  background-size: cover;
}